<p>Name: <span class="titles"><%= account.first_name %> <%= account.last_name %></span></p>
<p>Gender: <span class="titles"><%= account.gender %></span></p>
<p>Age: <span class="titles"><%= account.age %></span></p>